*.aux
*.dvi
*.log
*.pdf
auto
_region_*
*.toc
*.fmt
*region*/V11_Atomspektren/matlab/angle_to_wavelength.m
/V11_Atomspektren/matlab/angle_to_wavelength.m~
/V12_Roentgen/prv__region_.ini
/V11_Atomspektren/matlab/angle_to_wavelength.m
